{
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    "transform-export-extensions",
    ["module-resolver", {
      "root": ["./app"],
      "alias": {
        "root": "./",
        "static": "./static"
      }
    }]
  ],
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "useBuiltIns": true
    }],
    "stage-2",
    "react"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ],
      "presets": [
      ]
    },
    "development": {
      "presets": [
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "presets": ["env", "stage-2", "react"],
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  }
}
